
@font-face {
    font-family: 'Gilroy-Bold';
    src: url("./fonts/Gilroy-Bold.woff2");
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url("./fonts/Gilroy-SemiBold.woff2");
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url("./fonts/Gilroy-Medium.woff2");
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url("./fonts/Gilroy-Regular.woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #ffffff;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1274px;
    margin: 0 auto;
}

header {
    margin-bottom: 69px;
    margin-top: 40px;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    padding-top: 11px;
    padding-bottom: 12px;
    width: 533px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.home__link {
    color: #F25822;
}

main {
    margin-bottom: 53px;
}

.main__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13px;
    margin-bottom: 53px;
}

.main__content_leftside {
    width: 589px;
}

.title {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
    width: 522px;

}

.text {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 16px;
    width: 466px;
}

.btn-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.btn {
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    padding: 15px 36px 16px 35px;
    border: none;
}
.btn__noback {
    background: none;
    color: #AAAAAA;
    box-shadow: none;
}

footer {
    margin-bottom: 32px;
    padding-top: 59px;
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.top_cards {
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;

}

.top_card {
    width: 310px;
    height: 226px;
}

.icon {
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
}

.top_card_title {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 17px;
}

.top_card_text {
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    margin-bottom: 25px;
}

.read_more_link {
    font-family: 'Gilroy-Bold';
    font-size: 11px;
    line-height: 150%;
    color: #000000;
}

.top_center_card {
    width: 370px;
    height: 291px;
    padding-left: 29px;
    padding-top: 40px;
    padding-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.bottom_content {
    background: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 100px;
}

.middle_content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.middle_title {
    font-family: 'Gilroy-Bold';
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    margin-bottom: 19px;
}

.middle_subtitle {
    width: 682px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    margin-bottom: 54px;
}

.bottom_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.bottom_card {
    width: 370px;
    height: 549px;
    background: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.bottom_center_card {
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.bottom_card_title {
    margin-bottom: 22px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.bottom_card_text {
    margin-bottom: 39px;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
    text-align: center;

    color: #AAAAAA;
}

.bottom_card_button {
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 50px;
    padding: 15px 26px 15px 46px;
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}