* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 1600px;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;

}

img {
    display: block;
    max-width: 100%;
}

.hidden {
    visibility: hidden;
    /*width: 0px;*/
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    background: #222222;
    height: 75px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu_left_side {
    display: flex;
    justify-content: space-between;
    width: 111px;
}

.logo {
    padding-top: 18px;
    padding-bottom: 19px;
}

.btn_search {
    padding-top: 28px;
    padding-bottom: 20px;
}

.menu_right_side {
    width: 159px;
    display: flex;
    justify-content: space-between;
}

.menu_buttons {
    border: none;
    background: none;
}

.btn_menu {
    padding-top: 30px;
    padding-bottom: 22px;
}

.btn_profile {
    padding-top: 26px;
    padding-bottom: 20px;
}

.btn_cart {
    padding-top: 26px;
    padding-bottom: 20px;
    position: relative;
}

.cart_number {
    background: #F16D7F;
    position: absolute;
    top: 18px;
    right: -10px;
    height: 19px;
    width: 19px;
    border-radius: 50px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart_number p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

.sub_header {
    background: #F1E4E6;
    height: 764px;
    margin-bottom: 65px;

    display: flex;
    justify-content: flex-start;
    position: relative;
}

.sub_header_left {
    width: 800px;
}

.sub_header_right {
    padding-top: 290px;
    padding-bottom: 382px;
    padding-left: 63px;
}

.sub_header_logo {
    border-left: 12px solid;
    border-left-color: #F16D7F;
    height: 92px;
    padding-left: 16px;
    width: 405px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo_font {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;

    color: #222222;
}

.logo_font2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #222222;
}

.logo_colored {
    color: #F16D7F;
}

.menu_list {
    width: 232px;
    height: 634px;
    position: absolute;
    background: #FFFFFF;
    top: 0px;
    right: 0px;
    padding-left: 32px;
    padding-top: 32px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.menu_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
    color: #000000;
}

.menu_subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
    margin-top: 20px;
    color: #F16D7F;
}

.menu_item {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 11px;
    color: #6F6E6E;
    margin-left: 22px;
}

.banners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 96px;
}

.banner {
    height: 260px;
}

.banner1 {
    background-image: url("./img/banner1.png");
    background-size: contain;
}

.banner2 {
    background-image: url("./img/banner2.png");
    background-size: contain;
}

.banner3 {
    background-image: url("./img/banner3.png");
    background-size: contain;
}

.large_banner {
    height: 180px;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url("./img/banner4.png");
    background-size: cover;
    background-position: top;
}

.shadow {
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F16D7F;
}

.fetured_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.fetured_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #222222;
}

.fetured_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #9F9F9F;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 49px;
}

.card {
    background: #F8F8F8;
    height: 581px;
}

.good_image_frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.good_img {
    width: 360px;
    height: 420px;
}

.add_to_cart_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: rgba(58, 56, 56, 0.86);
}

.add_to_cart_shadow:hover{
    opacity: 1;
}

.add_to_cart_btn {
    border: 1px solid white;
    width: 138px;
    height: 43px;
    background: transparent;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.good_details {
    padding: 25px 29px 19px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.good_name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

.good_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
}

.good_price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F16D7F;
}

.button_browse {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
}

.btn {
    border: 1px solid #FF6A6A;
    background: transparent;
    width: 211px;
    height: 47px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #F26376;
}

.btn:hover {
    background: #F16D7F;
    color: white;
}

.features {
    background: #222224;
    height: 341px;
    padding: 103px 230px 104px;

    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: center;

}

.feature_card {
    height: 134px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.feature_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;

    color: #FBFBFB;
}

.feature_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;

    color: #FBFBFB;
}

.subscribe {
    background: url("./img/layer.png");
    height: 448px;
}

.subscribe_shadow {
    background: rgba(244, 244, 244, 0.7);
    width: 100%;
    height: 100%;
    padding: 97px 230px 126px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

}

.subscribe_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    width: 360px;
}

.subscribe_info_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    height: 99px;

    color: #222224;
}

.subscribe_info_text_italic {
    font-style: italic;
}



.subscribe_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 142px;
    width: 557px;
}

.subscribe_form_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;

    color: #222224;
}

.subscribe_form_subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    color: #222224;
    margin-bottom: 32px;
}

.subscribe_form_elements {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 356px;
}

.subscribe_form_email {
    border: none;
    background: #E1E1E1;
    height: 49px;
    width: 323px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #222224;
    border-radius: 25px 0px 0px 25px;
    padding-left: 22px;
    padding-top: 7px;
    padding-bottom: 6px;

}

.subscribe_form_button {
    background: #E05C6E;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    color: #FFFFFF;
    width: 100px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 25px 25px 0px;
    position: absolute;
    right: 0px;
}

footer {
    height: 79px;
    background: #222224;
    padding-left: 235px;
    padding-right: 230px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.socials {
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.social_button {
    background: white;
    border: none;
    height: 32px;
    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

}

.social_button:hover {
    background: #F16D7F;
}

.social_button:hover .social_logo{
    filter: invert(1);
}


.rights {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FBFBFB;
}

@media (max-width: 768px) {

    body {
        width: 768px;
    }

    .container {
        width: 735px;
        margin: 0 auto;
    }

    header {
        height: 74px;
    }

    .logo {
        padding-bottom: 18px;
    }

    .btn_search {
        padding-bottom: 19px;
    }

    .menu {
        padding-left: 15px;
        padding-right: 15px;
        height: 74px;
    }

    .menu_right_side {
        width: 169px;
    }

    .btn_menu {
        padding-top: 31px;
        padding-bottom: 20px;
    }

    .btn_profile {
        padding-top: 27px;
        padding-bottom: 18px;
    }

    .btn_cart {
        padding-top: 27px;
        padding-bottom: 18px;
    }

    .sub_header {
        height: 368px;
    }

    .sub_header_left {
        width: 386px;
    }

    .sub_header_right {
        padding-top: 138px;
        padding-bottom: 138px;
        padding-left: 39px;
    }

    .sub_header_logo {
        width: 311px;
    }

    .logo_font {
        font-size: 44px;
        line-height: 53px;
    }

    .logo_font2 {
        font-size: 24px;
        line-height: 29px;
    }

    .banners {
        column-gap: 20px;
        row-gap: 20px;
        margin-bottom: 110px;
    }

    .banner {
        height: 168px;
    }

    .large_banner {
        height: 116px;
    }

    .fetured_header {
        margin-bottom: 74px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        margin-bottom: 33px;
    }

    .features {
        height: 610px;
        flex-direction: column;
        padding: 48px 204px 64px;
    }

    .subscribe {
        height: 693px;
        background-color: #f1f1f1;
        background-position: -450px 50px;
        background-size: 333%;
        background-repeat: no-repeat;
    }

    .subscribe_shadow {
        flex-direction: column;
    }

    .button_browse {
        margin-bottom: 71px;
    }

    footer {
        padding-left: 32px;
        padding-right: 32px;

    }

}

@media (max-width: 375px) {

    body {
        width: 375px;
    }

    .mobile_hide {
        visibility: hidden;
        width: 0px;
    }

    .container {
        width: 359px;
    }

    header {
        height: 74px;
    }

    .menu_right_side {
        width: 32px;
    }

    .sub_header {
        height: 363px;
        margin-bottom: 64px;
    }

    .sub_header_right {
        padding-top: 148px;
        padding-bottom: 149px;
        padding-left: 56px;
    }

    .sub_header_logo {
        width: 263px;
        height: 66px;
    }

    .logo_font {
        font-size: 38px;
        line-height: 46px;
    }

    .logo_font2 {
        font-size: 20px;
        line-height: 24px;
    }

    .banners {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
        align-items: center;
    }

    .banner {
        height: 247px;
        width: 343px;
    }

    .large_banner {
        height: 111px;
        width: 343px;
    }

    .fetured_header {
        margin-bottom: 65px;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
        margin-bottom: 41px;
    }

    .button_browse {
        margin-bottom: 85px;
    }

    .features {
         padding: 48px 13px 81px 14px;
    }

    .subscribe_shadow {
        padding: 64px 16px 110px;
    }
    footer {
        padding: 43px 62px 9px;
        height: 143px;
        display: flex;
        flex-direction: column-reverse;
    }
}