
@font-face {
    font-family: 'Gilroy-Bold';
    src: url("./fonts/Gilroy-Bold.woff2");
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url("./fonts/Gilroy-SemiBold.woff2");
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url("./fonts/Gilroy-Medium.woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #ffffff;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1274px;
    margin: 0 auto;
}

header {
    margin-bottom: 69px;
    margin-top: 40px;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    padding-top: 11px;
    padding-bottom: 12px;
    width: 533px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.home__link {
    color: #F25822;
}

main {
    margin-bottom: 53px;
}

.main__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13px;
    margin-bottom: 53px;
}

.main__content_leftside {
    width: 589px;
}

.title {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
    width: 522px;

}

.text {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 16px;
    width: 466px;
}

.btn-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.btn {
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    padding: 15px 36px 16px 35px;
    border: none;
}
.btn__noback {
    background: none;
    color: #AAAAAA;
    box-shadow: none;
}

footer {
    margin-bottom: 32px;
    padding-top: 59px;
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}